.Box {
  display: flex;
  align-items: center;
  height: 100%;
  position: absolute;
  width: 100%;
}

.animal-link {
  text-decoration: none;
}

.animal-name {
  border-right: 1px solid white;
  color: white;
  font-size: 28px;
  margin: 15px;
  white-space: nowrap;
}

.animal-name.done-typing {
  animation: blink-cursor .75s step-end infinite;
}

@keyframes blink-cursor {
  from, to { border-color: transparent; }
  50% { border-color: white; }
}

.color1 {
  background-color: #58A55C;
}

.color2 {
  background-color: #4D87EC;
}

.color3 {
  background-color: #F2BC42;
}

.color4 {
  background-color: #D95040;
}

.Box.slide-in {
  animation-fill-mode: forwards;
}

.Box.slide-in.left {
  left: 0;
  animation: slide-horizontal 0.5s;
}

.Box.slide-in.right {
  right: 0;
  animation: slide-horizontal 0.5s;
}

.Box.slide-in.up {
  bottom: 0;
  animation: slide-vertical 0.5s;
}

.Box.slide-in.down {
  top: 0;
  animation: slide-vertical 0.5s;
}

@keyframes slide-horizontal {
  0% { width: 0; }
  100% { width: 100%; }
}

@keyframes slide-vertical {
  0% { height: 0; }
  100% { height: 100%; }
}