.Box {
  display: flex;
  align-items: center;
  padding: 15px;
}

.animal-name {
  color: white;
  font-size: 28px;
}

.color1 {
  background-color: #58A55C;
}

.color2 {
  background-color: #4D87EC;
}

.color3 {
  background-color: #F2BC42;
}

.color4 {
  background-color: #D95040;
}